{% extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block content %}
    <div class="container">

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <div class="row">
            <div class="col-md-12">
                {{utils.flashed_messages(messages)}}
            </div>
        </div>
    {% endif %}
    {% endwith %}

        <div class="jumbotron">
            <h1>Welcome to Natural Capital Assessment</h1>
            <p>
                Here you can see some of the state of the Natural
                Capital Assessment services
            </p>
        </div>


        <h2>Plans</h2>
        <table class="table table-condensed table-striped">
            <thead>
                <th>Raw</td>
                <th>Pathname</td>
                <th>Layer name</td>
                <th>Status</td>
                <th>Links</td>
            </thead>
            <tbody>
    {% for plan in plans.plans %}
                <tr>
                    <td>
                        <div class="dropdown">
                            <a href="#"
                                data-toggle="dropdown"
                                class="dropdown-toggle">
                                json <b class="caret"></b>
                            </a>
                            <pre class="dropdown-menu">{{ plan | pprint }}</pre>
                        </div>
                    </td>
                    <td
                        data-toggle="tooltip"
                        data-placement="auto"
                        title="{{ plan.pathname }}">
                        {{ plan.pathname | format_pathname }}
                    </td>
                    <td>{{ plan.layer_name }}</td>
                    <td>{{ plan.status }}</td>
                    <td>
                        <a href="{{ plan._links.self }}">self</a>,
                        <a href="{{ plan._links.collection }}">collection</a>
                        {% if plan._links.wms %}
                        , <a href="{{ plan._links.wms }}">wms</a>
                        {% endif %}
                    </td>
                </tr>
    {% endfor %}
            <tbody>
        </table>

        <h2>Users</h2>
        <table class="table table-condensed table-striped">
            <thead>
                <th>Raw</td>
                <th>ID</td>
                <th>E-mail</td>
                <th>Links</td>
            </thead>
            <tbody>
    {% for user in users.users %}
                <tr>
                    <td>
                        <div class="dropdown">
                            <a href="#"
                                data-toggle="dropdown"
                                class="dropdown-toggle">
                                json <b class="caret"></b>
                            </a>
                            <pre class="dropdown-menu">{{ user | pprint }}</pre>
                        </div>
                    </td>
                    <td>{{ user.id }}</td>
                    <td>{{ user.e_mail }}</td>
                    <td>
                        <a href="{{ user._links.self }}">self</a>,
                        <a href="{{ user._links.collection }}">collection</a>
                    </td>
                </tr>
    {% endfor %}
            <tbody>
        </table>

        <h2>Assessment requests</h2>
        <table class="table table-condensed table-striped">
            <thead>
                <th>Raw</td>
                <th>ID</td>
                <th>Plan</td>
                <th>Status</td>
                <th>Links</td>
            </thead>
            <tbody>
    {% for assessment_request in assessment_requests.assessment_requests %}
                <tr>
                    <td>
                        <div class="dropdown">
                            <a href="#"
                                data-toggle="dropdown"
                                class="dropdown-toggle">
                                json <b class="caret"></b>
                            </a>
                            <pre class="dropdown-menu">{{ assessment_request | pprint }}</pre>
                        </div>
                    </td>
                    <td>{{ assessment_request.id }}</td>
                    <td>{{ assessment_request.plan }}</td>
                    <td>{{ assessment_request.status }}</td>
                    <td>
                        <a href="{{ assessment_request._links.self }}">self</a>,
                        <a href="{{ assessment_request._links.collection }}">collection</a>
                    </td>
                </tr>
    {% endfor %}
            <tbody>
        </table>


        <h2>Assessment results</h2>
        <table class="table table-condensed table-striped">
            <thead>
                <th>Raw</td>
                <th>ID</td>
                <th>Request-ID</td>
                <th>Data</td>
                <th>Links</td>
            </thead>
            <tbody>
    {% for assessment_result in assessment_results.assessment_results %}
                <tr>
                    <td>
                        <div class="dropdown">
                            <a href="#"
                                data-toggle="dropdown"
                                class="dropdown-toggle">
                                json <b class="caret"></b>
                            </a>
                            <pre class="dropdown-menu">{{ assessment_result | pprint }}</pre>
                        </div>
                    </td>
                    <td>{{ assessment_result.id }}</td>
                    <td>{{ assessment_result.request_id }}</td>
                    <td>{{ assessment_result.data }}</td>
                    <td>
                        <a href="{{ assessment_result._links.self }}">self</a>,
                        <a href="{{ assessment_result._links.collection }}">collection</a>
                    </td>
                </tr>
    {% endfor %}
            <tbody>
        </table>


        <h2>Assessment indicator results</h2>
        <table class="table table-condensed table-striped">
            <thead>
                <th>Raw</td>
                <th>ID</td>
                <th>Result-ID</td>
                <th>Difference</td>
                <th>Statistics</td>
                <th>Links</td>
            </thead>
            <tbody>
    {% for assessment_indicator_result in assessment_indicator_results.assessment_indicator_results %}
                <tr>
                    <td>
                        <div class="dropdown">
                            <a href="#"
                                data-toggle="dropdown"
                                class="dropdown-toggle">
                                json <b class="caret"></b>
                            </a>
                            <pre class="dropdown-menu">{{ assessment_indicator_result | pprint }}</pre>
                        </div>
                    </td>
                    <td>{{ assessment_indicator_result.id }}</td>
                    <td>{{ assessment_indicator_result.result_id }}</td>
                    <td>{{ assessment_indicator_result.difference }}</td>
                    <td>
                        <div class="dropdown">
                            <a href="#"
                                data-toggle="dropdown"
                                class="dropdown-toggle">
                                json <b class="caret"></b>
                            </a>
                            <pre class="dropdown-menu">{{ assessment_indicator_result.statistics | pprint }}</pre>
                        </div>
                    </td>
                    <td>
                        <a href="{{ assessment_indicator_result._links.self }}">self</a>,
                        <a href="{{ assessment_indicator_result._links.collection }}">collection</a>
                    </td>
                </tr>
    {% endfor %}
            <tbody>
        </table>
    </div>
{% endblock %}
